body {
    font-size: 100%;
    height: 100%;
    color: white;
}

html {
    height: 100%;
}

a {
    color: white;
}

[contenteditable="true"] {
    outline: 1px dashed red;
    cursor: text;
}

article .tags a {
    display: inline-block;
    padding: 0 2px;
}

ul.horizontal,
ol.horizontal {
    padding: 0;
    margin: 0;
}

ul.horizontal > li,
ol.horizontal > li {
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    padding: 2px 5px;
}

ul.vertical > li,
ol.vertical > li {
    display: list-item;
}

.field input:not([type=checkbox],[type=radio],[type=number]), .field textarea {
    width: 100%;
}

.field input {
    display: flex;
}

.help {
    cursor: help;
}
.field {
    margin-bottom: 1em;
    display: flex;
}
.field label {
    display: flex;
    font-weight: bold;
    margin-right: 2%;
    min-width: fit-content;
    align-items: center;
}
.field-checkbox label {
    padding-left: 2%;
    margin-right: 0
}
.field-multiline label {
    align-items: flex-start;
}
.field .error {
    display: block;
}

.mandatory {
    color: red;
    padding: 2px;
    display: inline-block;
}

.workspace {
    position: relative;
    display: flex;
    flex-direction: row;
}
.workspace-content {
    align-self: flex-start;
}

.workspace-btns {
    display: flex;
    flex-direction: column;
    width: 20px;
    text-align: center;
}
